@import "@/styles/variables.scss";

.productPage {
  padding: 60px 100px 150px 100px;
  display: flex;
  flex-direction: column;
}

.product {
  padding-top: 32px;
  display: flex;
  gap: $gap-m;
}

.productImgContainer {
  position: relative;
}

.productImg {
  width: 600px;
  height: 600px;
}

.productImgNav {
  position: absolute;
  top: 300px;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0 $space-xl;
}

.productImgNavItem {
  border: none;
  outline: none;
  cursor: pointer;
  width: 64px;
  height: 64px;
  background: #000000;
  border-radius: 50%;
}

.productImgNavItem:disabled {
  opacity: 0.5;
  cursor: default;
}

.productImgNavItemLeft {
  transform: rotate(180deg);
}

.productTitle {
  font-size: $p-44;
}

.productDescription {
  padding-top: $space-xl;
}

.productPrice {
  font-size: $p-44;
  padding-top: 80px;
}

.productUI {
  padding-top: 48px;
  display: flex;
  gap: $gap-m;
}

.productUIAdd {
  background: #ffffff;
  color: $text-primary;
  border: 1px solid #afadb5;

  &:hover {
    background: #000000;
  }
}

.relatedProducts {
  padding-top: calc($space-xl * 2);
}

.relatedProductsText {
  font-size: $p-48;
}

.relatedProductsList {
  padding-top: calc($space-m * 2);
  display: flex;
  justify-content: space-between;
}
