@import "styles/variables.scss";

.product {
  padding: 60px 100px 150px 100px;
  display: flex;
  flex-direction: column;
}

@media (max-width: 1300px) {
  .product {
    padding: $page-padding-m;
  }
}

@media (max-width: 600px) {
  .product {
    -top: $space-xl;
    padding: $page-padding-s;
  }
}
