@import "@/styles/variables.scss";

.main__content__products {
  display: flex;
  flex-direction: column;
  gap: $gap-m;
}

.main__content__products__nav {
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: center;
}
