@import "styles/variables.scss";

.main {
  &__ui {
    display: flex;
    flex-direction: column;
    gap: $space-xl;

    &__search {
      display: flex;
      gap: $space-xl;

      &__inp {
        display: contents;

        input {
          font-size: $p-16;
        }
      }

      &__btn {
        white-space: nowrap;
      }
    }

    &__filter {
      &__inp {
        input {
          font-size: $p-16;
        }
      }
    }
  }
}
