@import "@/styles/variables.scss";

.navList {
  display: flex;
  list-style: none;
  gap: $gap-m;
  padding: 0;
  margin: 0;
}

.navListLink {
  height: 90px;
  display: flex;
  align-items: center;
  text-decoration: none;
}

.navListLink:visited {
  color: black;
}

.navListLink:hover {
  p {
    color: #518581;
  }
  border-bottom: 2px solid #518581;
}
