@import "@/styles/variables.scss";

.product {
  padding: 60px 100px 150px 100px;
  display: flex;
  flex-direction: column;

  &__nav {
    display: flex;
    align-items: center;
    gap: $space-xs;
    outline: none;
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
  }

  &__item {
    padding-top: 32px;
    display: flex;
    gap: $gap-m;

    &__img {
      position: relative;

      img {
        width: 600px;
        height: 600px;
      }

      &__nav {
        position: absolute;
        top: 300px;
        display: flex;
        justify-content: space-between;
        width: 100%;
        padding: 0 $space-xl;
      }
    }

    &__content {
      &__title {
        font-size: $p-44;
      }

      &__desc {
        padding-top: $space-xl;
      }

      &__price {
        font-size: $p-44;
        padding-top: 80px;
      }

      &__ui {
        padding-top: 48px;
        display: flex;
        gap: $gap-m;

        &__add {
          background: #ffffff;
          color: $text-primary;
          border: 1px solid #afadb5;
        }

        &__add:hover {
          background: #000000;
        }
      }
    }
  }

  &__related {
    padding-top: calc($space-xl * 2);

    &__text {
      font-size: $p-48;
    }

    &__list {
      padding-top: calc($space-m * 2);
      display: flex;
      justify-content: space-between;
    }
  }
}
