@import "styles/variables.scss";

.main {
  display: flex;
  flex-direction: column;
  gap: calc($space-xl * 2);
  padding: $page-padding;

  &__content {
    display: flex;
    flex-direction: column;
    gap: $space-xxl;
  }
}

@media (max-width: 650px) {
  .main {
    padding: $page-padding-m;
  }
}

@media (max-width: 550px) {
  .main {
    padding: $page-padding-s;
    gap: $space-xxl;
  }
}
