@import "@/styles/variables.scss";

.mainPage {
  display: flex;
  flex-direction: column;
  gap: calc($space-xl * 2);
  padding: $page-padding;
}

.mainContent {
  display: flex;
  flex-direction: column;
  gap: calc($space-m * 2);
}

.productsList {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 30px;
  grid-column-gap: 80px;
}

.productsListText {
  display: flex;
  align-items: center;
  gap: $space-xl;
}

.productsListTitle {
  font-size: calc($p-16 * 2);
}
