@import "styles/variables.scss";

.dropdown {
  flex-direction: column;
  align-items: flex-start;
  height: 200px;
  gap: $space-xxs $space-l;
}

.dropdownInput {
  input {
    padding-right: $p-48;
  }
}

.options {
  display: flex;
  background-color: $dropdown-options-bg;
  padding: $space-s $space-xs;

  input {
    display: none;
  }
}

.openedList {
  max-height: 240px;
  overflow-y: auto;
  margin-top: $space-xxs;
  box-shadow: $my-shadow;
}

.optionVal {
  margin-left: calc($space-xs / 2);
}

.optionVal:hover {
  color: $text-accent;
}

@media (max-width: 500px) {
  .optionVal {
    font-size: $p-12;
  }
}
