@import "@/styles/variables.scss";

.productPageNav {
  display: flex;
  align-items: center;
  gap: $space-xs;
  outline: none;
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}
