@import "styles/variables.scss";

.discount {
  padding: $page-padding;
  display: flex;
  & > * {
    flex: 1;
  }
}

@media (max-width: 1100px) {
  .discount {
    padding: $page-padding-m;
    flex-direction: column;
    gap: calc($space-xl * 3);
  }
}

@media (max-width: 600px) {
  .discount {
    padding: $page-padding-s;
    gap: calc($space-l * 2);
  }
}
