@import "styles/variables.scss";

.cart {
  padding: $page-padding;
  display: flex;
  flex-direction: column;
  gap: calc($space-xxl * 2);

  &__content {
    display: flex;
    align-items: center;
    gap: calc($space-xxl * 4);
  }
}

@media (max-width: 1100px) {
  .cart {
    padding: $page-padding-m;

    &__content {
      flex-direction: column-reverse;
      gap: calc($space-l * 4);
    }
  }
}

@media (max-width: 600px) {
  .cart {
    padding: $page-padding-s;
    &__content {
      gap: calc($space-l * 2);
    }
  }
}
