@import "@/styles/variables.scss";

.mainHeader {
  display: flex;
  flex-direction: column;
  gap: $space-xl;
  max-width: 650px;
  text-align: center;
  margin: 0 auto;
}

.mainHeaderTitle {
  font-size: $p-44;
}
