@import "styles/variables.scss";

.navbar {
  z-index: 1;
  position: sticky;
  top: 0;
  width: 100%;
  background: $navbar-bg;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  min-height: 90px;

  &__logo {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  &__pages-list {
    display: flex;
    list-style: none;
    gap: calc($space-xl * 2);
    padding: 0;
    margin: 0;
  }

  &__pages-link {
    height: 90px;
    display: flex;
    align-items: center;
    text-decoration: none;

    &:hover {
      border-bottom: 2px solid $text-mark;
      p {
        color: $text-mark;
      }
    }
  }

  &__pages-link--active {
    border-bottom: 2px solid $text-mark;
    p {
      color: $text-mark;
    }
  }

  &__personal {
    display: flex;
    align-items: center;
    gap: $space-xl;
  }

  &__personal-icon {
    cursor: pointer;
  }
}
