@import "styles/variables.scss";

.navbar {
  z-index: 1;
  position: sticky;
  top: 0;
  width: 100%;
  background: $navbar-bg;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 100px;
  min-height: 90px;
  border-bottom: 2px solid rgba(243, 243, 243, 1);

  &__logo {
    display: flex;
    align-items: center;
    gap: $space-xs;
  }

  &__pages-list {
    display: flex;
    list-style: none;
    gap: calc($space-xl * 2);
    padding: 0;
    margin: 0;
  }

  &__pages-link {
    height: 90px;
    display: flex;
    align-items: center;
    text-decoration: none;

    &:visited {
      color: black;
    }

    &:hover {
      border-bottom: 2px solid #518581;
      p {
        color: #518581;
      }
    }
  }

  &__personal {
    display: flex;
    align-items: center;
    gap: $space-xl;
  }
}
