@import "@/styles/variables.scss";

.mainUI {
  display: flex;
  flex-direction: column;
  gap: $space-xl;
}

.mainUISearch {
  display: contents;

  input {
    font-size: $p-16;
  }
}

.mainUIFilter {
  input {
    font-size: $p-16;
  }
}

.mainUIFilterIcon {
  cursor: pointer;
}

.mainUIBtn {
  white-space: nowrap;
}

.searchProducts {
  display: flex;
  gap: $space-xl;
}
